
.afrique-body .gallerie {
    padding: 2em;
}

.afrique-body .gallerie h1 {
    font-family: "Rubik";
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    color: var(--noir);
}
.afrique-body .gallerie p {
    text-align: center;
    font-size: 1.5em;
    padding: 0 3em;
}

.afrique-body .gallerie .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3em 1.5em;
}

.afrique-body .gallerie .categories .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    background-color: var(--blanc);
    box-shadow: 0.9em 0.6em rgba(128, 128, 128, 0.053);
    padding: 2em;
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
}

.afrique-body .gallerie .categories .item:hover {
    box-shadow: 1em 1em var(--orange-fonce);
    transition: all 0.2s ease-in-out;
    rotate: 5deg;
}

.afrique-body .gallerie .categories .item span {
    font-size: 7em;
    padding: 0.5em 0.9em;
    border-radius: 0.2em;
    color: var(--blanc);
    
}
.afrique-body .gallerie .categories .item p {
    font-family: "Fira Sans";
    font-weight: 500;
}
.afrique-body .gallerie .categories .item:nth-of-type(1) span, .afrique-body .gallerie .categories .item:nth-of-type(3) span {
    background-color: var(--orange-fonce);
    color: var(--blanc);
}

.afrique-body .gallerie .categories .item:nth-of-type(2) span {
    background-color: var(--orange);
}

.gallerie .animaux-container {
    padding: 1em 2em;
    margin: 1em 2em;
}

.gallerie .animaux-container .animaux-header {
    text-align: left;
}
.gallerie .animaux-container .animal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8em;
}

.gallerie .animaux-container .animal-container .animal {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

}

.afrique-body .gallerie .animaux-container .animal-container .animal:nth-of-type(1) {

   background-color: antiquewhite;
}


.afrique-body .gallerie .animaux-container .animal-container .animal:nth-of-type(4) {

    background-color: antiquewhite;
}

.afrique-body .gallerie .animaux-container .animal-container .animal .info {
    width: 100%;
}
.afrique-body .gallerie .animaux-container .animal-container .animal .info h3 {
    font-size: 2em;
    text-transform: uppercase;
}



.afrique-body .gallerie .animaux-container .animal-container .animal .info p {
    font-size: 1.3em;
    padding: 1em 0.5em;
    text-align: center;
    display: block;
}


.afrique-body .gallerie .animaux-container .animal-container .animal .image img {
    border-radius: 2em;
    width: 50%;
    transition: all 0.2s ease-in-out;
}

.afrique-body .gallerie .animaux-container .animal-container .animal .image img:hover {
    width: 60%;
    box-shadow: 1em 1em var(--orange-fonce);
    transition: all 0.2s ease-in-out;
    rotate: 5deg;
}

.jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}