.jeu-memoire {
    margin-top: 5em;
    width: 50%;
    
    
}

.jeu-memoire h1 {
    font-family: "Rubik";
    font-weight: 900;
    color: var(--noir);
}

.jeu-memoire button {
    background-color: var(--rose);
    padding: 2em 4em;
    font-family: "Inter";
    font-weight: 800;
    font-size: 1em;
    margin: 2em;
}

.jeu-memoire > .tableau {
    background-color: rgba(255, 240, 205, 0.749);
    padding: 2em 1em;
    border-radius: 2em;
}

.jeu-memoire > .tableau > .carte-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 2em;
}